*{
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
    /* use this ; */
    /* background-color: rgba(255, 255, 255, 0.9); */
}

li{
    float: left;
    border-right:5px solid #bbb;
}


li:last-child {
    border-right: none;
  }

  li.name-list-class{
    border-right: none;
  }

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.right-alliged-nav-elements-class{
    float: right;
}