:root {
    font-family: Lobster, sans-serif;
    /* min-height: 100vh; */
    /* max-width: 1440px; */
    background-color: #ffffff;
}

body{
    margin: 0px !important;
    background-color: white;
    border: 1px solid #ddd;
}

.page-container{

}

.nav{

}

nav{
    background-color: rgba(255, 255, 255, 0.9);
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

nav .logo{
    display: flex;
    align-items: center;
}

nav .logo img{
    width: 56px;
    height: 56px;
    padding: 8px;
    border-radius: 50%;
    /* border-left: 1px solid black; */
}

.title{
    border-left: 5px solid black;
    /* padding: 10px; */
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
}

nav ul li{
    color: white;
    padding: 22px 40px;
}

nav ul li:hover{
    background-color: #222222;
}

nav ul li.active{
    background-color: #222222;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-image: url(https://picsum.photos/seed/picsum/900/450);
    /* background-image: url(Images/backqrounds/leone-venter-pVt9j3iWtPM-unsplash.jpg); */
    background-size: cover;
    background-color: #333333;
}

@keyframes appear{
    from{
        opacity: 0.0;
        top: -100px;
    }
    to{
        opacity: 1.0;;
        top: 0.0;
    }
}

.banner .heading{
    flex: 1;
    justify-self: center;
    font-size: 2em;
    font-weight: bold;
    padding-top: 100px;
    animation: appear 2s ease-in-out 0s forwards;
}



/* // X-Small devices (portrait phones, less than 576px) */
@media all and (max-width: 575.98px) {
    nav{
        flex-direction: column;
        align-items: center;
    }

    nav ul{
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }
    nav ul li{
        text-align: center;
    }
    
 }

/* // Small devices (landscape phones, 576px and 767.98px) */
@media all and  (min-width: 576px) and (max-width: 767.98px) {
    nav{
        justify-content: flex-start;
    }

    nav ul{
        justify-content: space-between;
    }
 }

/* // Medium devices (tablets, 768px and 991.98) */
@media all and  (min-width: 768px) and (max-width: 991.98px) { 
    .top-nav-class{
        
    }
 }

/* // Large devices (desktops, 992px and 1199.98) */
@media all and (min-width: 992px) and (max-width: 1199.98px) { 
    .top-nav-class{
        
    }
 }

/* // X-Large devices (large desktops, 1200px and 1399.98) */
@media all and  (min-width: 1200px) and (max-width: 1399.98px) { 
    .top-nav-class{
        
    }
 }

/* // XX-Large devices (larger desktops, 1400px ) */
@media all and  (min-width: 1400px) {
    .top-nav-class{
        
    }
 }

 .maintext{
    font-size: 18px;
    padding: 12px;
 }
 
 .subtext{
    display: flex;
 }

 .subtext div{
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    color: white;
 }

 .subtext .red{
    background-color: #ff6363;
 }


 .subtext .yellow{
    background-color: #f0a500;
 }

 .subtext .green{
    background-color: #1eb2a6;
 }

 .quote{
    display: block;
    background-color: #eeeeee;
    padding: 50px;
    text-align: center;
    font-style: italic;
 }

 .quote::before{
    display: inline-block;
    content: open-quote;
    color: #d3d3d3;
    font-size: 32px;
 }

 .quote::after{
    display: inline-block;
    content: close-quote;
    color: #d3d3d3;
    font-size: 32px;
 }

 .footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 24px;
 }

