.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 10rem; */
}

.nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86%;
    padding: 35px 0;
    max-width: 100rem;
    height: 10rem;
    flex-flow: row wrap;
}

.checkbox {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 80px;
    right: -5px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
.hamburger-menu {
    height: 26px;
    width: 32px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line {
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #2d2a28;
}

.line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
    background: #f7a565;
}

.line2 {
    transition: transform 0.2s ease-in-out;
    background: #f4ce4b;
}

.line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
    background: #51c492;
}

.menu-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    opacity: 0;
    overflow: hidden;
    padding: 0;
}

.menu-list li a {
    font-family: "Darker Grotesque", sans-serif;
    font-size: 40px;
    color: #2d2a28;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

.home-container,
.projects-container,
.contact-container {
    border: 1px solid #000000;
    box-shadow: 3px 3px 1px 2px rgba(45, 42, 40, 0.9);
    border-radius: 5px;
    box-sizing: border-box;
    height: 50px;
    width: 312px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container {
    background: #f7a565;
    margin-bottom: 15px;
}

.projects-container {
    background: #f4ce4b;
    margin: 15px 0;
}

.contact-container {
    background: #51c492;
    margin-top: 15px;
}

.menu-list li {
    list-style: none;
}

.menu-list a:hover {
    font-weight: bolder;
}

.home-container:hover {
    border: 2px solid #000000;
}

.projects-container:hover {
    border: 2px solid #000000;
}

.contact-container:hover {
    border: 2px solid #000000;
}

.nav-container input[type="checkbox"]:checked~.logo img {
    opacity: 0;
    transition: opacity 1s;
}

.nav-container input[type="checkbox"]:checked~.menu-list {
    opacity: 100%;
    transition: opacity 2s;
}

.nav-container input[type="checkbox"]:checked~.hamburger-menu .line1 {
    transform: rotate(44deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-menu .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-menu .line3 {
    transform: rotate(-44deg);
}